# Created by venv; see https://docs.python.org/3/library/venv.html

# Python
__pycache__/
*.py[cod]

# Virtual env
venv/
env/
.venv/

# Django
*.log
local_settings.py

# Database
db.sqlite3

# Migrations
**/migrations/*.py
!**/migrations/__init__.py

# Files uploaded by users
media/

# Environment variables
.env
.env.*

# Static files
staticfiles/

# Testing
.coverage
htmlcov/
.pytest_cache/

# IDEs / Editors
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db